*{
  font-family: 'Nunito', sans-serif;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1550px;
  height: 650px;
  border-radius: 20px;
  margin: 230px 10px 10px 10px;
  background-color: aliceblue;
  -webkit-box-shadow: 0px 10px 80px -10px rgba(0, 0, 0, 0.42);
          box-shadow: 0px 10px 80px -10px rgba(0, 0, 0, 0.42);
  justify-content:space-evenly;
  
}
h3 {
  font-size: 35px;
  margin-bottom: 60px;
  font-weight: 600;
  text-align: center;
  padding-top: 50px;
}

h3:hover{
    font-size: 55px;
    color:#565a57
}
.parts-1{
  margin:30px 20px 10px 20px;
}
.partsrow1{

  display: flex;
  justify-content:space-evenly;
}  
.parts-1:hover{
--bs-bg-opacity: 1;
background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}
.col-md-6 {
  display: flex;
  flex: 0 0 auto;
  width: 80%;
}
.steps-container{
  margin-top: 100px;
}
.h42{
 font-size: 2rem;
}
h4{
  font-size: 35px;
  color: white;
  border-bottom: 2px solid #eb5e65 ;
  padding-bottom: 5px;
}
.h42:hover{
  color:#f86169;
  padding-bottom: 8px;
  border-bottom: 2px solid rgb(247, 245, 243);
}
p{
  color:white;
}
b{
  color: rgb(14, 12, 12);
}


/* styles for navbar starts */

#brand-name{
  font-size: 32px;
  font-weight: 700;
  color: rgb(211, 75, 75);
}
#brand-name:hover{
  color:blue;
}

.btn-grad {background-image: linear-gradient(to right, #DC2424 0%, #4A569D  51%, #DC2424  100%)}
.btn-grad {
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
 }
 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 .navbar-brand{
   padding-left: 130px;
 }
 .navbar-collapse{
   padding-top: 10px;
   padding-left: 270px;
 }


 .group1{
   font-size: 17px;
   margin-top: 10px;
 }

@media (max-width:800px) {
  .navbar-brand{
    padding-left: 1em;
  }
  .navbar-collapse{
    padding-left: 1em;
  }
}

.navdrop{
  padding-left: 2px;
  padding-top: 3px;
}
.dropdown-toggle{
  padding: 1px;
}
/* styles for navbar ends here */
