*{
    font-family: 'Poppins',sans-serif;
}

body {
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    font-size: 17px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
a{
    text-decoration: none;
}

html {
    height: 100%;
    background-color: white;
}

.card-title{
    padding-top: 0rem;
    font-weight: 900;
    font-size: x-large;
}

.list-group-item{
    
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card-approve{
    background-color: rgb(3, 163, 3);
    color: rgb(255, 254, 254);
    width: 100px;
    height: 40px;
    margin-left: 160px;
    border-radius: 20px;
    border: none !important;
}

.card-approve:hover,
.card-approve:focus,
.card-approve:active  {
    background-color: rgb(3, 143, 3);
    outline: none !important;
    border: none !important;
    box-shadow: none;
}

.card-reject{
    background-color: rgb(255, 24, 24);
    color: rgb(255, 254, 254);
    width: 100px;
    height: 40px;
    margin-left: 215px;
    border-radius: 20px;
    border: none !important;
}

.card-reject:hover,
.card-reject:focus,
.card-reject:active  {
    background-color: rgb(204, 24, 24);
    outline: none !important;
    border: none !important;
    box-shadow: none;
}
form{
    display: inline-block;
}
.group1{
    background-color: rgb(236, 234, 234);
}